@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_section1 {
    width: 1600px;
    height: 800px;
    background-image: url('/public/assets/nengcipe_info.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_intro {
    width: 600px;
    height: 800px;
    background-color: rgb(0, 0, 0, 0.4) ;
    display: flex;
    justify-content: center;
}

.nengcipe_info {
    color: white;
    font-size: 35px;
}

.nengcipe_info_script {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nengcipe_info_context {
    font-size: 20px;
}

.nengcipe_info_btn {
    display: flex;
    justify-content: center;
}

.btn_nengcipe {
    width: 250px;
    height: 70px;
    margin-top: 70px;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    font-family: 'Noto Sans KR';
    cursor: pointer;
}

.home_section2 {
    width: 1600px;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.home_image {
    height: 500px;
    margin-right: 200px;
    
}

.home_section2_intro {
    text-align: left;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

.home_section3 {
    width: 1600px;
    height: 800px;
    background-image: url('/public/assets/home_image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_section3_intro_context {
    width: 1600px;
    height: 800px;
    background-color: rgb(0, 0, 0, 0.4) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

.home_section4 {
    width: 1600px;
    height: 1100px;
}

.home_section4_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Noto Sans KR';
    font-weight: 600;

}

.home_section4_intro_below {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

.home_section4_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_image {
    width: 400px;
    margin: 0 20px;
    margin-bottom: 50px;
}

.home_section4_intro_btn {
    display: flex;
    justify-content: center;
}




.home_section4_btn_nengcipe {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}
.home_section4_btn_UserGuide {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}