@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'hopang';
    font-weight: 400;
    src: url('/public/fonts/SDSamliphopangcheBasic.otf') format('woff2'),
        url('/public/fonts/SDSamliphopangcheBasic.otf') format('woff'),
        url('/public/fonts/SDSamliphopangcheBasic.otf') format('truetype');
}

.home {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.findyourrecipe_logo{
    margin-top: 50px;
    margin-bottom: -50px;
    width: 500px;
}
.home_logo{
    margin-top: 220px;
    width: 400px;
}
.home_logo_2{
    
    width: 400px;
}
.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .home_section1 {
    width: 1600px;
    height: 800px;
    background-image: url('/public/assets/nengcipe_info.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.home_section1 {
    /* 여기 가로 수정 */
    width: 1520px;
    height: 750px;
    
    background-size: cover;
    position: relative;
}

  
.video_background {
position: absolute;
top: 0;
left: 0;
width: 1520px;
height: 900px;
z-index: -1;
margin-top: -100px;
}

.background_video {
width: 100%;
height: 100%;
object-fit: cover;
}

.home_intro {
    /* 여기 가로 수정 */
    width: 550px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.05) ;
    display: flex;
    justify-content: center;
}

.nengcipe_info {
    color: white;
    font-size: 35px;
}


.nengcipe_info_script {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.nengcipe_info_context {
    font-size: 40px;
    margin-top: -20px;
    font-family: 'hopang';
}

.nengcipe_info_btn {
    /* 여기 왼쪽 여백 */
    display: flex;
    justify-content: left;
    margin-top: 150px;
    margin-left: 1600px;
}
/* 
.btn_nengcipe_1 {
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 400px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Noto Sans KR';
    cursor: pointer;
}
.btn_nengcipe_2 {
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 400px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    border: 0.5px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    background-color: rgba(110, 110, 110, 0.9);
    font-family: 'Noto Sans KR';
    cursor: pointer;
} */
.w-btn-home {
    position: relative;
    /* border: none; */
    display: inline-block;
    padding: 10px 30px;
    /* border-radius: 5px; */
    width: 300px;
    font-family: 'Noto Sans KR';
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    font-size: 20px;
}

.w-btn-home-outline {
    position: relative;
    padding: 10px 30px;
    /* border-radius: 5px; */
    width: 300px;
    font-family: 'Noto Sans KR';
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    font-size: 20px;
}

.w-btn-home-color {
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    color: #ffffff;
}

.w-btn-home-color-outline {
    border: 3px solid rgb(0, 0, 0);
    color: #000000;
}

.w-btn-home-color-outline:hover {
    color: #000000;
    background: rgb(255, 221, 0);
}


.w-btn-home:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-home-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-home:active {
    transform: scale(1.5);
}

.w-btn-home-outline:active {
    transform: scale(1.5);
}



.home_section2 {
    width: 1500px;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;

}

.home_image {
    width: 1500px;
    height: 900px;
    margin-right: 100px;
    margin-left: 0px;
    object-fit: cover;
    
}


@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loadEffect2 {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    /* 50%{
        opacity: 0.5;
        transform: translateX(30px);
    } */
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.home_section2_intro {
    /* animation: 1.0s ease-in-out loadEffect1; */
    /* animation: 4s ease-in-out loadEffect2; */
    text-align: left;
    font-size: 50px;
    font-family: 'hopang';
    font-weight: 200;
}
.home_section2 {
    width: 1520px;
    height: 900px;
    margin-bottom: 50px;
    margin-top: 100px;
    background-image: url('/public/assets/home_image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_section3 {
    width: 1520px;
    height: 900px;
    margin-bottom: 70px;
    background-image: url('/public/assets/home_image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_section3_intro_context {
    
    width: 1520px;
    height: 900px;
    background-color: rgb(0, 0, 0, 0.4) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'hopang';
    font-weight: 400;
}
.home_section3_text{
    background-color: rgb(0, 0, 0, 0.05) ;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.05);
}
.home_section4 {
    width: 1500px;
    height: 850px;
    /* background-image: url('/public/assets/home_4.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .home_section4 p{
    color: white;
} */

.home_section4_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'hopang';
    font-weight: 600;

}

.home_section4_intro_below {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'hopang';
    font-weight: 600;
}

.home_section4_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_image {
    width: 400px;
    margin: 0 20px;
    margin-bottom: 50px;
}

.home_section4_intro_btn {
    display: flex;
    justify-content: center;
}
.home_section_2_txt{
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.1);
}
.home_section4_intro_below{
    margin-top: -40px;
}


.home_section4_btn_nengcipe {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}
.home_section4_btn_UserGuide {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}