@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.findyourrecipe_logo{
    margin-top: 50px;
    margin-bottom: -50px;
    width: 500px;
}
.home_logo{
    margin-top: 220px;
    width: 400px;
}
.home_logo_2{
    
    width: 400px;
}
.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .home_section1 {
    width: 1600px;
    height: 800px;
    background-image: url('/public/assets/nengcipe_info.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.home_section1 {
    /* 여기 가로 수정 */
    width: 1400px;
    height: 750px;
    background-size: cover;
    position: relative;
}

  
.video_background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.background_video {
width: 100%;
height: 100%;
object-fit: cover;
}

.home_intro {
    /* 여기 가로 수정 */
    width: 550px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.05) ;
    display: flex;
    justify-content: center;
}

.nengcipe_info {
    color: white;
    font-size: 35px;
}

.nengcipe_info_script {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nengcipe_info_context {
    font-size: 20px;
}

.nengcipe_info_btn {
    /* 여기 왼쪽 여백 */
    display: flex;
    justify-content: left;
    margin-top: -100px;
    margin-left: 1400px;
}

.btn_nengcipe_1 {
    width: 400px;
    height: 60px;
    font-size: 25px;
    font-weight: 400px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Noto Sans KR';
    cursor: pointer;
}
.btn_nengcipe_2 {
    width: 400px;
    height: 60px;
    font-size: 25px;
    font-weight: 400px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(110, 110, 110, 0.9);
    font-family: 'Noto Sans KR';
    cursor: pointer;
}
.arrow{
    margin-left: -30px;
    margin-top: 15px;
}

.home_section2 {
    width: 1500px;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;

}

.home_image {
    width: 1500px;
    height: 900px;
    margin-right: 100px;
    margin-left: 0px;
    object-fit: cover;
    
}

.home_section2_intro {
    text-align: left;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}
.home_section2 {
    width: 1400px;
    height: 800px;
    margin-bottom: 70px;
    margin-top: 70px;
    background-image: url('/public/assets/home_image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_section3 {
    width: 1400px;
    height: 800px;
    margin-bottom: 70px;
    background-image: url('/public/assets/home_image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_section3_intro_context {
    width: 1400px;
    height: 800px;
    background-color: rgb(0, 0, 0, 0.4) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

.home_section4 {
    width: 1500px;
    height: 850px;
    /* background-image: url('/public/assets/home_4.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .home_section4 p{
    color: white;
} */

.home_section4_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Noto Sans KR';
    font-weight: 600;

}

.home_section4_intro_below {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

.home_section4_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_image {
    width: 400px;
    margin: 0 20px;
    margin-bottom: 50px;
}

.home_section4_intro_btn {
    display: flex;
    justify-content: center;
}
.home_section_2_txt{
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.1);
}
.home_section4_intro_below{
    margin-top: -40px;
}


.home_section4_btn_nengcipe {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}
.home_section4_btn_UserGuide {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}