.Nengjanggo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/public/assets/nengjanggo_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.page_name_container{
    width: 1500px;
    height: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* background-image: url('/public/assets/nengjanggo_back.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.page_name {
    margin-top: 0px;
    font-size: 40px;
    color: white;
}
.menu_container{
    display: flex;
    /* height: 100px; */
    flex-direction: row;
    justify-content: center;
}

.expiry_menu {
    display: flex;
    margin: 30px;
}

.imminent_container {
    width: 300px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    margin-right: 10px;
    background-color: white;
}

#dropdown1 {
    left: 0;
    visibility: hidden;
    position: absolute;
}

.dropdownLabel1 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 5px 0 #00000026;
}

#dropdown1:checked + label + div {
    display: block;
    border-top: 1px solid #00000026;
}

.caretIcon {
    transition: transform 250ms ease-out;
  }
  #dropdown1:checked + label > .caretIcon {
    transform: rotate(-180deg);
}

.content ul {
    list-style-type: none;
    padding: 12px;
    margin: 0;
  }
  .content ul li {
    margin: 0.8rem 0;
  }

.expire_container {
    width: 300px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: white;
}

#dropdown2 {
    left: 0;
    visibility: hidden;
    position: absolute;
}

.dropdownLabel2 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

#dropdown2:checked + label + div {
    display: block;
    border-top: 1px solid #00000026;
}

.caretIcon {
    transition: transform 250ms ease-out;
  }
  #dropdown2:checked + label > .caretIcon {
    transform: rotate(-180deg);
}

.fridge_container {
    width: 1200px;
    height: 600px;
    max-height: 800px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-image: url('/public/assets/nengjanggo_inside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* 출처 <a href="https://kr.freepik.com/free-vector/close-up-an-inside-the-refrigerator_24781258.htm#from_view=detail_alsolike">작가 brgfx</a> 출처 Freepik */
.fridge_box {
    width: 950px;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(7, 140px);
    grid-template-rows: repeat(4, 200px);
}

.btn_addItem {
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_hidden {
    display: none;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;    
}

.modal_content {
    background-color: white;
    padding: 100px 500px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 10%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_modal_title {
    font-family: 'Noto Sans KR';
}

.item_modal_content {
    background-color: white;
    padding: 100px 500px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 500px;
    max-height: 800px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR';
}

.item_modal_list {
    width: 1300px;
    max-height: 500px;
    overflow: auto;
}

.btn_additemlist {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 1150px;
    background-color: black;
    border-radius: 100%;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.btn_addItemtoFridge {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.btn_addItemclose {
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.webcam_info {
    width: 500px;
    font-family: 'Noto Sans KR';
}

.btn_capture {
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR';
}

.section_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_submit {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.btn_close {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.ingred_modal_content {
    background-color: white;
    padding: 100px 500px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 500px;
    max-height: 700px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingred_modal_list_container {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.ingred_modal_list {
    width: 350px;
    max-height: 400px;
    overflow: auto;
    margin-right: 10px;
}

.ingred_selected_list_container {
    width: 300px;
    height: 500px;
    max-height: 500px;
    overflow: auto;
    margin-left: 10px;
}

.ingred_selected_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected_item {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_preview {
    margin: 75px;
}

.select_ingredients {
    width: 1000px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.btn_addfood {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_addlist {
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-top: 50px;
}

.nengjanggo_title {
    font-size: 20px;
    font-family: 'Noto Sans KR';
}

.recipe_list {
    width: 1300px;
    max-height: 1400px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: repeat(3, 400px);
    margin-bottom: 100px;
}

.recipelist_container {
    height: 320px;
    display: flex;    
    margin-bottom: 80px;
}

.recipe_descript {
    width: 600px;
    height: 320px;
    margin-left: 20px;
    margin-top: 20px;
}

.recipe_ingredients {
    margin-top: 10px;
    font-size: 20px;
}
