.Recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .title,
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page_name {
    font-size: 40px;
    margin-bottom: -50px;
  }
  
  .dish_name {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .image-container {
    background-color: #e8e6e6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px; /* image 높이 지정 */
  }
  
  .food_img {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    /* justify-content: center; */
    justify-content: center;

  }
  
  .dish_detail {
    margin-top: 50px;
    padding: 30px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    margin-bottom: 10px;
  }
  
  .dish_detail h2 {
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  
  .dish_detail p {
    font-size: 15px;
    margin: 0 0 10px 0;
  }
  

  .button_container{
    display: flex;
    flex-direction: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.219); */
  }
  .recipe_name{
    margin-top: 0px;
    width: 450px;
  }

  .share_btn{
    width: 50px;
    height: 50px;
    /* margin-left: 400px; */
    display: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgba(255, 0, 0, 0);
    
  }
  .heart_btn{
    margin-left: 0px;
    width: 50px;
    height: 50px;
    display: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(129, 129, 129, 0);
    border: 1px solid rgba(255, 0, 0, 0);
  }

  .accordion-content{
    flex-direction: column;
       display: fixed;
    justify-content: center;
    align-items: center;
  }


  .accordion img {
    transform: scale(0.07);
  }
  
  .heart-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    font-size: 15px;
  }
  