.Scrap {
  font-family: 'GowunDodum-Regular';
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  /* width: 1400px; */
  
  /* height: 750px; */
}
.background_SCRAP {
  width: 1400px;
  height: 1px;
  background-color: black;
  object-fit: cover;
  /* margin-top: -75px; */
  /* position: relative;
  z-index: -1; */
  margin-bottom: 50px;
}

.Scrap_page_name {
  color: rgb(0, 0, 0);
  width: 1400px;
  height: 100px;
  /* background-image: url('/public/assets/nengjanggo_back.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  margin-top: 0px;
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  

}
.page_name_1{
  margin-bottom: -100px;
  margin-top: -25px;
  font-size: 20px;
  margin-left: 10px;
}
.rememberme{
  width: 800px;
  margin-bottom: -250px;
}

.title_p {
  /* margin-top: -100px; */
  font-size: 10px;
  /* margin-left: -400px; */
}


.scrap_list {
  display: grid;
  /* max-height: 300px; */
  margin-left: 25px;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(4, 350px);
  margin-bottom: 100px;
  padding: 0px;
  /* background-color: rgba(155,155,155,0.2); */
  border-radius: 0px;
}

.scrap_container {
  height: 330px;
  display: flex;    
  margin-bottom: 100px;
}