.Scrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/public/assets/nengjanggo_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.page_name {
  font-size: 40px;
}

.scrap_list {
  display: grid;
  grid-template-columns: repeat(3, 420px);
  grid-template-rows: repeat(3, 380px);
  margin-bottom: 100px;
}

.scrap_container {
  height: 320px;
  display: flex;    
  margin-bottom: 80px;
}