.Scrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  /* width: 1400px; */
  
  /* height: 750px; */
}

.Scrap_page_name {
  width: 1400px;
  height: 350px;
  /* background-image: url('/public/assets/nengjanggo_back.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  margin-bottom: 50px;
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.rememberme{
  width: 800px;
  margin-bottom: -50px;
}

.title_p {
  /* margin-top: -100px; */
  font-size: 20px;
  margin-left: -400px;
}
.scrap_title_box{
  margin-top: -55px;
  margin-left: 600px;
  width: 150px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 196, 0);
  border: 3px solid rgb(0, 0, 0);
  padding: 7px;
  text-align: center;
  border-radius: 10px;
  transform: rotate(-15deg)
}

.scrap_list {
  display: grid;
  grid-template-columns: repeat(3, 420px);
  grid-template-rows: repeat(3, 420px);
  margin-bottom: 100px;
  padding: 0px;
  /* background-color: rgba(155,155,155,0.2); */
  border-radius: 0px;
}

.scrap_container {
  height: 320px;
  display: flex;    
  margin-bottom: 100px;
}