.background {
    background-image: url('/public/assets/background.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.signup_container {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_box {
    width: 600px;
    height: 650px;
    background-color: white;
    border-radius: 5px;
}

.txt_signup {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_input {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn_signup {
    width: 400px;
    height: 50px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.txt_gologin {
    text-decoration: none;
    margin-left: 20px;
    color: blue;
}