@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}

.UserGuide_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.home_btn {
    width: 250px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;

    margin-top: 20px;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 600;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}
