@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}
.container_guide{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
.back{
    margin-left: 100px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: row;
}
.guide_logo{
    width: 300px;
    margin-top: 250px;
    margin-left: 100px;
    margin-right: 80px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    padding: 0px 10px;
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.4);
}
.title_logo_Userguide{
    width: 600px;
    margin-right: 100px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* background-color: rgb(82, 82, 82); */
    width: 500px;
    height: 800px;
    background-image: url('/public/assets/home_image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title_Userguide{
    width: 600px;
    margin-top: 150px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    /* color: white; */
}
.sub_title_Userguide{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    /* color: white; */
}
.guide_container{
    /* margin-left: 50px; */
    height: 1400px;
    width: 1400px;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: row;
}
.user-guide {
    /* margin-left: 400px; */
    overflow: hidden;
    /* padding-left: 350px; */
    /* padding-right: 300px; */

  }
.container{
    /* 장수에 맞게 너비 수정 한장당 너비 800px */
    width: 4200px;

    transition: transform 0.5s;
}
.inner{
    width: 1400px;
    float: left;
    flex-grow: 1;
}
.inner img{
    width: 100%;
}

/* 장수에 맞게 추가 */
.container.transformed1 {
    transform: translate(0px);
  }
  
.container.transformed2 {
    transform: translate(-1400px);
  }
  
.container.transformed3 {
    transform: translate(-2800px);
  }

  
.btn_container{
    width: 1400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.btn_N{
    
    background: none;
  border: none;
  padding: 0;
  cursor: pointer;

    z-index: 3;
    position: absolute;
    margin-left: 1250px;

}
.btn_P{
    
    background: none;
  border: none;
  padding: 0;
  cursor: pointer;

    z-index: 3;
    position: absolute;
    

}
.btn_HOME{
    width: 270px;
    height: 30px;
    font-size: 15px;
    font-weight: 400px;
    margin-top: 0px;
    /* margin-right: 5px; */
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    background-color: rgba(110, 110, 110, 0.9);
    font-family: 'Noto Sans KR';
    cursor: pointer;
}