.card_container {
    width: 380px;
    height: 320px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.card_container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card_img {
    width: 380px;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
}

.card_info {
    display: flex;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    margin-top: 20px;
}

.card_title{
    margin-left: 10px;
    width: 350px;
    height: 60px;
    overflow: hidden;
}