.card_container {
    font-family: 'GowunDodum-Regular';
    width: 330px;
    height: 330px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.card_container:hover {
    cursor: pointer;
}

.card_img {
/*     position: relative; */
    width: 330px;
    height: 330px;
    object-fit: cover;
/*     z-index: 1; */
}

.card_info {
    position: relative;
    display: flex;
    font-size: 17px;
    /* font-family: 'Noto Sans KR'; */
    margin-top: -88px;
    padding: 12px;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 0;
    color: white;    
}

.card_title{
    margin-top: 9px;
    margin-left: 10px;
    width: 320px;
    height: 50px;
    overflow: hidden;
}
