@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

.footer {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
}

.left-content {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13pt;
  color: #b9b8b8;
  padding-left: 400px;

}

.right-content {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13pt;
  color: #b9b8b8;
  padding-right: 400px;

}

.separator {
  margin: 0 10px;
  color: #b9b8b8;
}