@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    width: 1520px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header_logo_icon {
    width: 'auto';
    height: 75px;
    /* margin-left: 50px; */
}

.header_menu {
    display: flex;
    margin: 0px 190px;
    font-size: 18px;
    font-family: 'Noto Sans KR';
}

.header_menu a {
    margin: 0px 50px;
    text-decoration: none;
    color: black;
}

.header_nav {
    display: flex; 
}

.header_option {
    margin-left: 0px;
    margin-right: 0px;

}

.header_btn1 {
    width: 100px;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #f2f3f6;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'SDSamliphopangche';
}

.header_btn2 {
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: rgb(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.header_btn1:hover {
    background-color: #f2f3f6;
}
