@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/public/fonts/NotoSansKR-Regular.otf') format('woff2'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('woff'),
        url('/public/fonts/NotoSansKR-Regular.otf') format('truetype');
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    width: 1520px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header_logo_icon {
    width: 'auto';
    height: 75px;
}

.header_menu {
    display: flex;
    margin: 0px 190px;
    font-size: 20px;
    font-family: 'Noto Sans KR';
}

.header_menu a {
    margin: 0px 50px;
    text-decoration: none;
    color: black;
}

.header_nav {
    display: flex; 
}

.header_option {
    margin-left: 70px;
    margin-right: 10px;

}

.header_btn1 {
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #f2f3f6;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.header_btn2 {
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 2px solid #f2f3f6;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.header_btn1:hover {
    background-color: #f2f3f6;
}