.ingredient_remove {
    position: absolute;
    margin-left: 100px;
    margin-bottom: 150px;
}

.ingredient_icon_remove {
    width: 20px;
    cursor: pointer;
}

.ingredient_icon {
    width: 40px;
}

.ingredient_name {
    font-size: 18px;
}

.ingredient_amount {
    font-size: 15px;
}
